@font-face {
  font-family: avgardn;
  src: url('../fonts/avantgarde/AVGARDN_2.TTF');
}
@font-face {
  font-family: signature;
  src: url('../fonts/lovtony.regular.ttf');
}

@font-face {
  font-family: poppins;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}
@font-face {
  font-family: poppinsRegular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: ambroise;
  src: url('../fonts/ambroise/Ambroise Regular.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --contrast-color: #eb5939;
  --grey-color: #b7ab98;
  --soft-grey-color: #4d4d4d;
  --bg-color: #0d0d0d;
  /* #204F8A */
  /* #EB8572 */
  /* #b7ab98  */
  /* #2A1454 */

  --cards: 5;
  --cardHeight: 87vh;
  --cardTopPadding: 1.5em;
  --cardMargin: 4vw;
}
body {
  box-sizing: border-box;
  font-family: 'Poppins';
  background: var(--bg-color);
  overflow-x: hidden;
  position: relative;
}

::selection {
  background-color: var(--contrast-color);
  color: var(--grey-color);
}
#cursor_sign {
  width: 2rem;
  height: 2rem;
  background-color: var(--contrast-color);
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transition: 0.1s ease-out;
  transform: translate(-50%, -50%);
  z-index: 500;
}
section {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
}
/* .hidden_section {
  opacity: 1;
} */
.home_section {
  display: grid;
  place-items: center;
}

/* iframe in home page */

.home_section,
.social_media_icons,
.about_section {
  position: relative;
}
.logo {
  border-radius: 50%;
  position: fixed;
  width: 3.5rem;
  top: 4rem;
  transition: 0.2s ease-out;
  left: 5rem;
}
section:hover .section_title {
  letter-spacing: 0rem;
}
.section_title,
.my_name {
  font-family: ambroise;
  font-weight: 400;
}
.section_title {
  color: var(--soft-grey-color);
  font-size: 30rem;
  opacity: 0.2;
  letter-spacing: -0.8rem;
  transition: 0.6s;
  cursor: default;
  display: grid;
  justify-content: center;
  transform: translateX(-100%);
  transition: 1.2s;
}
.animate_section_title {
  transform: translateX(0%);
}
.hello_word {
  position: absolute;
  top: 1.5rem;
}
.home_section .increase_cursor {
  color: var(--contrast-color);
  font-size: 14rem;
  font-weight: 400;
  font-family: signature;
  position: absolute;
  top: 5rem;
  cursor: default;
}
.social_media_icons {
  position: fixed;
  bottom: 2rem;
  left: 4rem;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.icon {
  margin-bottom: 2rem;
  position: relative;
  transition: 0.5s ease-out;
  padding: 0 1rem;
}
.icon:hover a {
  color: var(--bg-color);
}

.icon a {
  color: var(--grey-color);
  font-size: 1.55rem;
}
.email_viewer,
.resume_viewer {
  font-family: poppinsRegular;
  position: absolute;
  color: var(--grey-color);
  border: 1px solid var(--soft-grey-color);
  padding: 0.5rem;
  border-radius: 1.5rem;
  left: 4rem;
  opacity: 0;
  transition: 0.6s;
}
.email_viewer {
  bottom: 6rem;
}
.resume_viewer {
  bottom: 2rem;
}
.job_title {
  color: var(--grey-color);
  font-family: 'ambroise';
  font-size: 4.5rem;
  font-weight: 400;
  position: absolute;
  top: 35rem;
  right: 16rem;
}
.opening_sentences {
  width: 50rem;
  letter-spacing: 0.6px;
  position: absolute;
  right: 15.3rem;
  font-size: 1rem;
  color: var(--soft-grey-color);
  line-height: 20px;
}
.opening_sentences_1 {
  bottom: 10rem;
}
.opening_sentences_2 {
  bottom: 5.5rem;
}
.markable_word {
  font-family: 'ambroise';
  font-size: 3rem;
  padding-right: 0.5rem;
  color: var(--contrast-color);
  font-weight: 400;
}
.highlighted_word {
  color: var(--grey-color);
}
/*start nav bar  */
nav {
  height: fit-content;
  border-bottom: 1px solid var(--soft-grey-color);
  padding-left: 0.5rem;
  position: fixed;
  transform: rotate(-90deg);
  right: -20rem;
  width: 50rem;
}
nav ul {
  display: flex;
}
nav .nav_link {
  margin-right: 2rem;
  height: 3rem;
  display: grid;
  align-items: center;
  position: relative;
}
nav a {
  color: var(--soft-grey-color);
  font-size: 0.9rem;
  transition: color 0.3s ease-out;
}
.current_link a {
  color: var(--grey-color);
}

.nav_link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--grey-color);
  height: 2px;
  width: 0;
  transition: width 0.3s ease;
}
nav .nav_link.current_link::after {
  width: 100%;
  transform: translateX(0);
}
.logo,
nav,
.social_media_icons {
  z-index: 400;
}
/* end nav bar */
/* about me section */
.about_section,
.experience_section,
.portfolio_section,
.contact_section {
  padding-top: 3rem;
}

.about_title {
  font-size: 25rem;
  height: fit-content;
  line-height: 29rem;
}
.about_section .my_name {
  font-size: 8rem;
  color: var(--contrast-color);
  position: absolute;
  top: 18.2rem;
  left: 15rem;
  transition: 0.6s;
}
.about_section:hover .my_name {
  left: 12rem;
}
.presentation_skills {
  margin-left: 18rem;
  display: flex;
  justify-content: space-between;
  padding-right: 16rem;
}
.presentations {
  width: fit-content;
  color: var(--soft-grey-color);
}
.presentation {
  width: 38rem;
  margin-top: 1rem;
  padding-left: 1rem;
  border-left: 0.5px solid var(--soft-grey-color);
}
.skills {
  height: 26rem;
  width: 40rem;
  border-radius: 0.5rem;
  padding-top: 1rem;
  overflow: hidden;
  position: relative;

  transition: 0.6s;
}
.skills_bg {
  position: absolute;
  right: -4px;
  bottom: -11px;
  width: 21rem;
  z-index: -1;
  filter: grayscale(0%) brightness(2);
}
.skills_title {
  color: var(--grey-color);
  font-family: 'ambroise';
  font-size: 2.5rem;
  display: grid;
  place-items: center;
  font-weight: 400;
}
.skills_sections {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.skills_section_one {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-left: 7rem;
}
.skills_section_two {
  display: flex;
}
.skills_section_two .skill_section {
  margin-left: 1rem;
}
.skill_section {
  width: 6rem;
  height: 6rem;
  border-radius: 0.7rem;

  background: rgb(255, 255, 255, 0.025);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  backdrop-filter: blur(6px);
  border: 1px solid var(--soft-grey-color);
  display: grid;
  place-items: center;
}
.skill_section img {
  height: 2.5rem;
  position: relative;

  filter: grayscale(0%) brightness(0.3);
}
.skill_section .con_img {
  height: 3rem;
}

/* !switcher button in about section */
/* From Uiverse.io by TimTrayler */
.presentation_skills_btns {
  width: fit-content;
  position: absolute;
  right: 13rem;
  bottom: 1rem;
  display: none;
}
/* From Uiverse.io by njesenberger */
.toggle_container {
  --active-color: var(--contrast-color);
  --inactive-color: var(--bg-color);
  position: relative;
  aspect-ratio: 292 / 142;
  height: 1.875em;
}

.toggle-input {
  appearance: none;
  margin: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.toggle {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.toggle-background {
  fill: var(--inactive-color);
  transition: fill 0.4s;
}

.toggle-input:checked + .toggle .toggle-background {
  fill: var(--active-color);
}

.toggle-circle-center {
  transform-origin: center;
  transition: transform 0.6s;
}

.toggle-input:checked + .toggle .toggle-circle-center {
  transform: translateX(150px);
}

.toggle-circle {
  transform-origin: center;
  transition: transform 0.45s;
  backface-visibility: hidden;
}

.toggle-circle.left {
  transform: scale(1);
}

.toggle-input:checked + .toggle .toggle-circle.left {
  transform: scale(0);
}

.toggle-circle.right {
  transform: scale(0);
}

.toggle-input:checked + .toggle .toggle-circle.right {
  transform: scale(1);
}

.toggle-icon {
  transition: fill 0.4s;
}

.toggle-icon.on {
  fill: var(--inactive-color);
}

.toggle-input:checked + .toggle .toggle-icon.on {
  fill: var(--grey-color);
}

.toggle-icon.off {
  fill: var(--grey-color);
}

.toggle-input:checked + .toggle .toggle-icon.off {
  fill: var(--active-color);
}
/* !switcher button in about section */

/* about me section */
/* experience section */
.experience_section {
  display: flex;
}
.experience_title,
.portfolio_title,
.contact_title {
  font-size: 23rem;
}
.experience_title {
  height: fit-content;
  width: fit-content;
  line-height: 17rem;
  margin-left: 10rem;
  margin-top: 21rem;
}
.experience_side {
  margin-left: 8rem;
  margin-top: 10rem;
}
/* experience section */

/* portfolio section */

/* ! card slider on scroll */

.portfolio_section .container {
  width: 80%;
  margin: 0 auto;
}

#cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc(var(--cards) * var(--cardTopPadding));
  margin-bottom: var(--cardMargin);
}

#card1 {
  --index: 1;
}
#card2 {
  --index: 2;
}
#card3 {
  --index: 3;
}
#card4 {
  --index: 4;
}
#card5 {
  --index: 5;
}

.portfolio_section .card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--cardTopPadding));
}

.portfolio_section .project_viewer,
.portfolio_section .project_info {
  width: 75%;
  height: 90%;
  position: absolute;
  background-color: var(--contrast-color);
  border-radius: 1.5rem;
  /* bottom: 3rem; */
}
.project_viewer {
  left: 0;
  display: grid;
  place-items: center;
}
.portfolio_section .project_info {
  /* background-color: var(--bg-color); */
  background-color: transparent;
  backdrop-filter: blur(10px);
  border: 1px solid var(--soft-grey-color);
  right: -51rem;
}
.portfolio_section .project_viewer img {
  width: 50rem;
  border-radius: 1.5rem;
}
/* #card1 .card-body {
  background-color: transparent;
}
#card2 .card-body {
  background-color: transparent;
}
#card3 .card-body {
  background-color: #9cadce;
}
#card4 .card-body {
  background-color: #d4afb9;
}
#card5 .card-body {
  background-color: #52b2cf;
} */
.portfolio_section .card-body {
  box-sizing: border-box;
  padding: 30px;
  border-radius: 50px;
  /* box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3); */
  height: var(--cardHeight);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.5s;
  position: relative;
  background-color: transparent;
  overflow: hidden;
}

h2 {
  font-size: 2.5em;
}

/* ! card slider on scroll */
.portfolio_section .toggle_container {
  position: absolute;
  bottom: 2.5rem;
  left: 8rem;
  height: 2rem;
}
/* portfolio section */

/* contact me section */
/* contact me section */

@media (max-width: 950px) {
  .hello_word {
    top: 6rem;
    font-size: 19rem;
  }

  .home_section .increase_cursor {
    font-size: 9rem;
    top: 8rem;
  }
  .logo,
  .social_media_icons {
    left: 2rem;
  }
  nav {
    right: -21rem;
  }
  .opening_sentences {
    top: 37rem;
    right: 6rem;
    width: 36rem;
  }
  .opening_sentences_2 {
    top: 47rem;
  }
  /* about section */
  .about_section {
    padding: 4rem;
    padding-top: 0rem;
    min-height: 100vh;
    height: fit-content;
  }
  .about_title {
    font-size: 18rem;
    line-height: 14rem;
  }
  .about_section .my_name {
    left: 5rem;
    top: 22.8rem;
    font-size: 4.5rem;
  }
  .about_section:hover .my_name {
    left: 5rem;
  }
  .experience_title {
    font-size: 12rem;
  }
  .portfolio_title,
  .contact_title {
    font-size: 16rem;
  }
  .contact_title {
    line-height: 14rem;
  }

  .presentation_skills {
    margin-left: 4.2rem;
  }
  .presentation {
    margin-top: 1rem;
  }
  .job_title {
    font-size: 3.5rem;
    z-index: 50;
    top: 29rem;
    right: 6rem;
  }
  .presentation_skills {
    padding-right: 0;
    position: relative;
  }
  .skills {
    position: absolute;
    transform: translateX(112%);
  }
  .presentation_skills_btns {
    display: block;
  }
  /* about section */
}
