@font-face {
  font-family: avgardn;
  src: url('../fonts/avantgarde/AVGARDN_2.TTF');
}
@font-face {
  font-family: signature;
  src: url('../fonts/lovtony.regular.ttf');
}

@font-face {
  font-family: poppins;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}
@font-face {
  font-family: poppinsRegular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: ambroise;
  src: url('../fonts/ambroise/Ambroise Regular.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --contrast-color: #eb5939;
  --grey-color: #b7ab98;
  --soft-grey-color: #4d4d4d;
  --bg-color: #0d0d0d;
  /* #204F8A */
  /* #EB8572 */
  /* #b7ab98  */
  /* #2A1454 */
}
body {
  box-sizing: border-box;
  font-family: 'Poppins';
  background: var(--bg-color);
  overflow-x: hidden;
  position: relative;
}

::selection {
  background-color: var(--contrast-color);
  color: var(--grey-color);
}
#cursor_sign {
  width: 2rem;
  height: 2rem;
  background-color: var(--contrast-color);
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transition: 0.1s ease-out;
  transform: translate(-50%, -50%);
  z-index: 500;
}
section {
  width: 100%;
  height: 100vh;
}
.home_section {
  display: grid;
  place-items: center;
}
.home_section,
.social_media_icons,
.about_section {
  position: relative;
}
.logo {
  border-radius: 50%;
  position: fixed;
  width: 3.5rem;
  top: 4rem;
  transition: 0.2s ease-out;
  left: 5rem;
}
section:hover .section_title {
  letter-spacing: 0rem;
}
.section_title,
.my_name {
  /* font-family: poppins; */
  font-family: ambroise;
  font-weight: 400;
}
.section_title {
  color: var(--soft-grey-color);
  font-size: 30rem;
  opacity: 0.2;
  letter-spacing: -0.8rem;
  transition: 0.6s;
  cursor: default;
  display: grid;
  justify-content: center;
}
.hello_word {
  position: absolute;
  top: 1.5rem;
}
.home_section .increase_cursor {
  color: var(--contrast-color);
  font-size: 14rem;
  font-weight: 400;
  font-family: signature;
  position: absolute;
  top: 5rem;
  cursor: default;
}
.social_media_icons {
  position: fixed;
  bottom: 2rem;
  left: 4rem;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.icon {
  margin-bottom: 2rem;
  position: relative;
  transition: 0.5s ease-out;
  padding: 0 1rem;
}
.icon:hover a {
  color: var(--bg-color);
}

.icon a {
  color: var(--grey-color);
  font-size: 1.55rem;
}
.email_viewer,
.resume_viewer {
  font-family: poppinsRegular;
  position: absolute;
  color: var(--grey-color);
  border: 1px solid var(--soft-grey-color);
  padding: 0.5rem;
  border-radius: 1.5rem;
  left: 4rem;
  opacity: 0;
  transition: 0.6s;
}
.email_viewer {
  bottom: 6rem;
}
.resume_viewer {
  bottom: 2rem;
}
.opening_sentences {
  width: 33rem;
  letter-spacing: 0.6px;
  position: absolute;
  right: 20rem;
  bottom: 15rem;
  font-size: 1rem;
  color: var(--soft-grey-color);
}
.highlighted_word {
  color: var(--grey-color);
}
/*start nav bar  */
nav {
  height: fit-content;
  border-bottom: 1px solid var(--soft-grey-color);
  padding-left: 0.5rem;
  position: fixed;
  transform: rotate(-90deg);
  right: -20rem;
  width: 50rem;
}
nav ul {
  display: flex;
}
nav .nav_link {
  margin-right: 2rem;
  height: 3rem;
  display: grid;
  align-items: center;
  position: relative;
}
nav a {
  color: var(--soft-grey-color);
  font-size: 0.9rem;
}
.current_link a {
  color: var(--grey-color);
}
.current_link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--grey-color);
  height: 2px;
  width: 100%;
}

.logo,
nav,
.social_media_icons {
  z-index: 400;
}
/* end nav bar */
/* about me section */
.about_section,
.experience_section,
.portfolio_section,
.contact_section {
  padding-top: 3rem;
}

.about_title {
  font-size: 25rem;
  height: fit-content;
}
.about_section .my_name {
  font-size: 8rem;
  color: var(--contrast-color);
  position: absolute;
  top: 20rem;
  left: 15rem;
  transition: 0.6s;
}
.about_section:hover .my_name {
  left: 12rem;
}
.presentations {
  width: fit-content;
  position: absolute;
  left: 15rem;
  top: 32rem;
  color: var(--soft-grey-color);
}
.presentation_section {
  width: fit-content;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.presentation {
  width: 40rem;
  margin-top: 1rem;
  padding-left: 1rem;
  border-left: 0.5px solid var(--soft-grey-color);
}
.skills {
  width: 40rem;
  /* border: 0.5px solid var(--soft-grey-color); */
  border-radius: 0.5rem;
}
.skills_one {
  height: 150px;
}
.skills_two {
  height: 125px;
}
.skills_three {
  height: 75px;
}
.presentation_two,
.skills_one,
.skills_three {
  margin-left: 3rem;
}
/* about me section */
/* experience section */
.experience_title,
.portfolio_title,
.contact_title {
  font-size: 23rem;
}
/* experience section */

/* portfolio section */
/* portfolio section */

/* contact me section */
/* contact me section */

@media (max-width: 950px) {
  .hello_word {
    top: 6rem;
    font-size: 19rem;
  }

  .home_section .increase_cursor {
    font-size: 9rem;
    top: 8rem;
  }
  .logo,
  .social_media_icons {
    left: 2rem;
  }
  nav {
    right: -21rem;
  }
  .opening_sentences {
    right: 8rem;
    bottom: 19rem;
  }
  /* about section */
  .about_section {
    padding: 4rem;
    padding-top: 0rem;
    min-height: 100vh;
    height: fit-content;
  }
  .about_title {
    font-size: 18rem;
    line-height: 14rem;
  }
  .about_section .my_name {
    left: 5rem;
    top: 22.8rem;
    font-size: 4.5rem;
  }
  .about_section:hover .my_name {
    left: 5rem;
  }
  .experience_title {
    font-size: 12rem;
  }
  .portfolio_title,
  .contact_title {
    font-size: 16rem;
  }
  .contact_title {
    line-height: 14rem;
  }
  .presentations {
    left: 8rem;
    top: 31rem;
  }
  .presentation_section {
    flex-direction: column;
  }
  .presentation_two,
  .skills_one,
  .skills_three {
    margin-left: 0rem;
  }
  .skills,
  .presentation {
    margin-top: 1rem;
  }
  .skills {
    display: none;
  }
  /* about section */
}
